/* ivypresto display light 300/regular 400/italic/bold/bold-italic  */
/* aktiv-grotesk */
:root {
  --color-background: hsl(0, 0%, 99%, 1);
  --color-foreground: hsl(0, 0%, 0%, 1);
  --height-menubar-full: 10vh;
  --height-menubar-half: 5vh;
  --gutter-welcome-person: 0.5rem;
  --color-primary: hsl(56, 57%, 73%);
  --color-primary-dark: hsl(56, 100%, 38%);
  --color-primary-inverse: hsl(56, 45%, 73%);
  --color-secondary-dark: hsl(204, 60%, 20%);
  --border-input-default: 1px solid black;
  --border-input-default-thick: 2px solid var(--color-foreground);
  --border-input-inverse: 1px solid var(--color-primary-inverse);
  --border-input-inverse-thick: 2px solid var(--color-primary-inverse);
  --border-input-inverse-thicker: 3px solid var(--color-primary-inverse);
  --border-input-error: 2px solid red;

  --font-serif: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  --font-display: 'ivypresto-display', serif;
  --font-body: 'aktiv-grotesk', sans-serif;

  /* body text or <p> scaling variable, max line length set */
  --linelength-max: 980px;
  --linelength-fluid: min(980px, calc(70% + 100px));

  /* Fluid Font Scaling Variables */
  --fluid-regular: clamp(100%, 1rem + 1vw, 2rem);
  /* larger than body scaling variable */
  --fluid-larger: clamp(100%, 1.5rem + 2vw, 4rem);
  /* smaller than body scaling variable */
  --fluid-smaller: clamp(100%, 0.5rem + 0.75vw, 1rem);
  /* argument: relative to rem, font size scaling variable */

  background-color: var(--color-background);
  color: var(--color-foreground);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-body);
  background-color: var(--color-background);
  font-size: var(--fluid-regular);
}

p {
  /* font-size: var(--fluid-regular); */
  /* line length readability */
  width: var(--linelength-fluid);
  margin-left: auto;
  margin-right: auto;
}

section {
  padding: 1.5rem 0.5rem 1.5rem 0.5rem;
  flex: 1 1;
  color: var(--color-foreground);
}

section h2 {
  font-family: var(--font-display);
  font-weight: 300;
  letter-spacing: 0.1rem;
  font-size: var(--fluid-larger);
  font-weight: 400;
  text-align: center;
  padding: 0.3rem 0 0 0;
}

section p {
  padding: 1rem 0 1rem 0;
}

.color-invert {
  color: var(--color-primary-inverse);
  background-color: var(--color-secondary-dark);
}

.spacedletters {
  letter-spacing: 0.2rem;
}

.zoomletter {
  display: inline-block;
  opacity: 0;
  animation: zoomIn 0.5s ease-out forwards;
}

.separator {
  position: relative;
  text-align: center;
  color: black;
}

.separator-inverse {
  position: relative;
  text-align: center;
  margin: 20px 0;
  color: var(--color-primary-inverse);
}

.separator:before {
  content: '';
  position: absolute;
  left: 5%;
  top: 45%;
  width: 90%;
  height: 1px;
  background-color: black;
  z-index: 1;
}

.separator-inverse:before {
  content: '';
  position: absolute;
  left: 5%;
  top: 45%;
  width: 90%;
  height: 1px;
  background-color: var(--color-primary-inverse);
  z-index: 1;
}

.separator-label {
  background-color: var(--color-background);
  padding: 0 10px;
  position: relative;
  z-index: 2;
}

.separator-label-inverse {
  background-color: var(--color-secondary-dark);
  padding: 0 10px;
  position: relative;
  z-index: 2;
}

h1 {
  line-height: 1.1;
  font-size: x-large;
  text-align: center;
  font-family: var(--font-display);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* max-height: var(--menubarHeight); */
  z-index: 99;

  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  color: var(--color-foreground);
  padding: 0.3rem 0 0.5rem 0;
}

.buttonylinks {
  text-decoration: none;
  color: var(--color-background);
  letter-spacing: 0.1rem;
}

.buttonylinks:visited {
  color: var(--color-background);
}

.header-noscroll {
  background-color: transparent;
  transition: background-color 0.6s ease-in-out;
}

.header-scrolled {
  background-color: hsl(0, 0%, 0%, 1);
  transition: background-color 0.6s ease-in-out;
}

#header-title {
  /* font-size: larger; */
  font-size: var(--fluid-larger);
  text-align: center;
  color: var(--color-background);
  font-family: var(--font-display);
  letter-spacing: 0.25rem;
}

.header-title-visible {
  max-height: 1.5em;
  opacity: 1;
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
}

.header-title-hidden {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
}

.header-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  flex: 1 1 auto;
  position: relative;
  z-index: 100;
  height: 100%;
  margin-top: 0.2rem;
}

.header-nav > div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.header-nav a {
  font-size: larger;
}

#sectionWelcome {
  margin-top: 0;
  padding-bottom: 0.75rem;
  padding-top: 0.5rem;
  min-height: 400px;
  /* overflow: hidden; */
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  /* border: 5px dotted greenyellow; */
}

#welcome-mixed-container {
  width: 100%;
  padding: 0 var(--gutter-welcome-person) 0 var(--gutter-welcome-person);
  /* keeps portait in front of vid */
  margin: calc(var(--height-menubar-half) + 0.8rem) 0 0.5rem 0;
  position: relative;
  /* border: 3px dotted red; */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
}

#welcome-text {
  width: 100%;
  color: white;
}

/* once landscape orient or desktop, switch to 2 column hero section, scale fontsize by 7-9vw */
#welcome-text-name {
  display: inline-block;
  width: 100%;
  margin: 0.1rem 0 0.1rem 0;
  font-size: 15vw;
  font-family: var(--font-display);
  line-height: 0.8;
  text-align: center;
  letter-spacing: 0.2rem;
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
    color: var(--color-secondary-dark);
  }
  25% {
    color: var(--color-secondary-dark);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.subtext {
  font-family: var(--font-display);
  font-size: var(--fluid-regular);
  letter-spacing: 0.15rem;
  line-height: 2.5;
}

.welcome-text-line {
  margin: 0 0.1rem 0 0.1rem;
  font-family: var(--font-display);
  /* color: var(--color-primary); */
  /* color: white; */
  font-size: 5vw;
  letter-spacing: 0.07rem;
}

.welcome-text-line-top {
  text-align: left;
  animation: slideInFromLeft 0.5s ease-out forwards;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
    color: var(--color-secondary-dark);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.welcome-text-line-bottom {
  text-align: right;
  animation: fadeIn 3s ease-in 1s forwards;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    color: var(--color-secondary-dark);
  }
  100% {
    opacity: 1;
  }
}

#welcome-portrait {
  object-fit: contain;
  width: 90vw;
  border-style: none;
  max-height: 60vh;
}

.welcome-video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.welcome-video-background::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.welcome-video-background video {
  /* display: block; */
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.form-default {
  padding: 0.3rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  margin: 1rem 0 0 0;
}

/* .form-default input:required:invalid {
  border: var(--border-input-error);
} */

.form-inputcontainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  gap: 1rem;
  border: none;
}

.form-color-default label {
  color: var(--color-foreground);
}

.form-default input[type='text'],
.form-default input[type='email'] {
  border: none;
  flex: 1 1;
  width: 100%;
}

.disablebutton {
  opacity: 0.3;
  pointer-events: none;
}

.form-default input[type='text']:focus,
.form-default input[type='email']:focus {
  outline: none;
}

.form-color-default input[type='text'],
.form-color-default input[type='email'] {
  color: black;
  background-color: var(--color-background);
  border-bottom: var(--border-input-default);
}

.form-color-default input[type='text']:required:focus:invalid {
  border: var(--border-input-error);
}

.form-color-default input[type='text']:focus,
.form-color-default input[type='email']:focus {
  border-bottom: var(--border-input-inverse-thick);
}

.color-invert input[type='text'],
.color-invert input[type='email'] {
  color: var(--color-primary-inverse);
  background-color: var(--color-secondary-dark);
  border-bottom: var(--border-input-inverse);
}

.color-invert input[type='text']:focus,
.color-invert input[type='email']:focus {
  outline: none;
  border-bottom: var(--border-input-inverse-thick);
}

.form input[type='text']::before,
.form input[type='email']::before {
  content: ':.....';
}

.form-default textarea {
  width: 100%;
  min-height: 5rem;
  resize: none;
}

.form-color-default textarea {
  color: black;
  background-color: var(--color-background);
  border: var(--border-input-default);
}

.form-color-default textarea:focus {
  outline: none;
  border: var(--border-input-inverse-thick);
}

.color-invert textarea {
  color: var(--color-primary-inverse);
  background-color: var(--color-secondary-dark);
  border: var(--border-input-inverse);
}

.color-invert textarea:focus {
  outline: none;
  border: var(--border-input-inverse-thick);
}

.form-default button {
  width: auto;
  text-decoration: underline;
  flex-shrink: 0;
  border: none;
  cursor: pointer;
  /* font-size: var(--fluid-regular); */
}
.form-color-default button {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

.color-invert button {
  color: var(--color-primary-inverse);
  background-color: var(--color-secondary-dark);
}

.form-default button::after {
  /* MUST INCLUDE THIS INLINEBLOCK TO REMOVE UNDERLINE */
  display: inline-block;
  margin-left: 0.2rem;
  text-decoration: none;
  content: '>';
}

.listListings {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.listingcard {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.listingcard-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 0;
}

.listingcard-bottom {
  padding: 0.8rem;
  background-color: var(--color-foreground);
  flex: 1 1;
}

.listingcard-bottom-textbox {
  border: 2px solid white;
  padding: 1.5rem;
  color: var(--color-background);
}

.listingcard-heading-separator {
  position: relative;
  text-align: center;
  margin: 0 0 1.2rem 0;
  color: white;
}

.listingcard-heading-separator:before {
  content: '';
  position: absolute;
  left: 7%;
  top: 50%;
  width: 86%;
  height: 1px;
  background-color: white;
  z-index: 1;
}

.listingcard-heading-separator-label {
  background-color: black;
  padding: 0 20px;
  position: relative;
  z-index: 2;
}

.listingcard-bottom-textbox-details {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.listingcard-bottom-textbox-details-price {
  font-family: var(--font-display);
  font-size: var(--fluid-larger);
}

.listingcard-bottom-textbox-details-address {
  font-size: small;
}

.footer {
  margin-top: 2rem;
}

.footer-contactcontainer {
  margin: 0.5rem 0.5rem 0 0.5rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  color: var(--color-foreground);
  font-size: smaller;
}

.footer-contactcontainer > a {
  color: var(--color-foreground);
  text-decoration: none;
  width: fit-content;
}

.instagram-logo-footer-outer {
  width: 1.5em;
  height: 1.5em;
}

.footer-contactcontainer a:visited {
  color: var(--color-foreground);
}
.footer-copyright {
  /* font-size: xx-small; */
  font-size: calc(1em + 0.001vw);
  /* margin: 0.2rem; */
  text-align: center;
  width: 100%;
}

.spinner {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid #3498db;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

.listing-featureheading {
  letter-spacing: 0.07rem;
  padding: 0.8rem;
}

.listing-article {
  margin-top: var(--height-menubar-full);
  border: 1px solid blue;
}

#listing-featureheading-photo {
  /* border: 2px dotted blue; */
  width: 100%;
}

.listing-about p {
  font-family: var(--font-body);
}

.listing-title {
  text-align: left;
  font-weight: 400;
  padding: 0.8rem 0 0.8rem 0;
}

.listing-price {
  font-family: var(--font-display);
  font-size: 1.3rem;
  font-weight: 300;
}

.listing-primaryfeatures {
  font-family: var(--font-body);
  letter-spacing: 0.1rem;
}

.listing-details-list {
  list-style: none;
}

.listing-details-list-section {
  margin-bottom: 2rem;
}

.listing-details-list-section-list {
  line-height: 1.7;
  list-style: none;
}

.listing-details-list-section-name {
  text-align: left;
  font-size: x-large;
  letter-spacing: 0.12rem;
  margin: 0 0 0.4rem 0;
}

.listing-detailitem {
  display: flex;
  flex-flow: row nowrap;
  break-inside: avoid;
  font-size: smaller;
  margin-bottom: 0.3rem;
}

.listing-detailitem-key {
  color: gray;
  min-width: 7.5rem;
  flex: 0 0 7.5rem;
}

#map {
  height: 400px;
  width: 100%;
  margin-top: 2.5rem;
}

#preferredContactMethod {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.3rem;
}

#preferredContactMethod li:first-of-type {
  padding-top: 0.5rem;
}
#preferredContactMethod li {
  list-style: none;
}

#preferredContactMethod input[type='radio'] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  /* display: none; */
}

/* Square, left sided radio buttons for request private tour form */
.radio-container {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  /* font-size: 14px; */
  user-select: none;
}

.form-color-default .radio-container {
  color: var(--color-foreground);
  background-color: var(--color-background);
}

.color-invert .radio-container {
  color: var(--color-primary-inverse);
  background-color: var(--color-secondary-dark);
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radiomark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
}

.form-color-default .radiomark {
  background-color: transparent;
  border: 1px solid black;
}

.color-invert .radiomark {
  background-color: transparent;
  border: 1px solid var(--color-primary-inverse);
}

.form-color-default .radio-container:hover input ~ .radiomark {
  background-color: var(--color-background);
}
.color-invert .radio-container:hover input ~ .radiomark {
  background-color: var(--color-secondary-dark);
}

.form-color-default .radio-container input:checked ~ .radiomark {
  background-color: var(--color-background);
}
.color-invert .radio-container input:checked ~ .radiomark {
  background-color: var(--color-secondary-dark);
}

.radiomark:after {
  content: '';
  position: absolute;
  display: none;
}

.radio-container input:checked ~ .radiomark:after {
  display: block;
}

.radio-container .radiomark:after {
  left: 3px;
  top: 3px;
  width: 12px;
  height: 12px;
  background-color: var(--color-primary-inverse);
}

.nar-logo-footer-outer {
  height: 1.5rem;
}

.nar-logo-footer-inner {
  fill: hsl(0, 0%, 30%);
}

.footer-affiliates-container {
  display: grid;
  grid-template-columns: 1fr 2fr 3.5fr 4fr;
  align-items: center;
  gap: 1rem;
}

.footer-affiliates-container a {
  display: flex;
  justify-content: start;
  align-items: center;
}

#nar {
  width: 100%;
}

.form-error {
  color: var(--std-color-invalid);
  font-style: italic;
}

.form-subtext {
  line-height: 1;
  font-style: italic;
}

/* aka a section whose primary content is descriptive readable body of text */
#sectionAbout {
  display: flex;
  flex-flow: column nowrap;
  /* align-items: center; */
}

@media (orientation: landscape) {
  #welcome-mixed-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #welcome-text-name {
    font-size: 8vw;
  }
  .welcome-text-line {
    font-size: 2vw;
  }
  header {
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: space-between;
    padding: 0 0 0 1.5rem;
  }
  header menu {
    flex-grow: 1;
  }

  .header-title-hidden {
    max-height: 1.5em;
    opacity: 1;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
  }
  #welcome-mixed-container {
    margin: calc(var(--height-menubar-half) + 2rem) 0 0.5rem 0;
  }
}
