body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.calendar-grid {
  display: flex;
  flex-flow: column nowrap;
  gap: 1px;
}

.calendar-box {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

/* .day-number {
  position: relative;
  top: 5px;
  left: 5px;
  font-weight: bold;
  font-size: 12px;
} */

.day-number {
  font-weight: bold;
  font-size: 12px;
  /* position:relative;
  top: 0px;
  left: 0px; */
}

.box-text {
  display: block;
  margin-top: 5px;
}

p {
  text-align: justify;
  text-align-last: auto;
}

.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content:space-around;
  align-items: center;
}