body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.calendar {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.month-title {
	font-size: 20px;
	font-weight: bold;
}

.month-container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.month-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0px;
}

.day-box {
  /* border: 1px solid #ccc; */
	display: flex;
	align-items: center;
  padding: 10px;
  text-align: center;
}

.day-number {
  /* font-weight: bold; */
  font-size: 12px;
}

.box-text {
  display: block;
  font-size: 12px;
	font-weight: bold;
  /* margin-top: 5px; */
}

.session {
  text-decoration: none;
  font-weight: bold;
  color: red;
  font-size: 12px;
}

.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content:space-around;
  align-items: center;
}